.App {
  display: grid;
  /* flex-flow: column; */
  /* align-items: stretch; */
  background: url("Images/wallst.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

a:link {
  color: #DEF2F1;
}
a:visited {
  color: #DEF2F1;
}
a:hover {
  color: #FAED26;
  text-decoration: none;
}
a:active {
  color: #9B786F;
}

.navbar-dark .navbar-nav .nav-link {
  color: #def2f1;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #FAED26;
}

.custom-nav {
  background-color: rgba(22, 52, 78, 0.8);
}

.custom-dropdown-nav {
  background-color: rgba(122, 141, 143, 0.8);
}

.navbar-toggler{
  font-size: 0.8em;
  padding: 1%;
}

.navbrand-glow-border {
  filter: drop-shadow(0 0 0.25rem #faed26);
}

.jklogo-glow-border {
  filter: drop-shadow(0 0 0.2rem #def2f1);
}

.form-container {
  margin: 0 auto;
  border: 1px #16344e solid;
  background-color: rgba(22, 52, 78, 0.6);
  border-radius: 10px;
  filter: drop-shadow(0 0 0.4rem #16344e);
  padding: 20px;
  width: 75vw;
  color: #faed26;
}

.home {
  flex: 1;
  overflow: auto;
  background-color: rgba(222, 242, 241, 0.8);
  min-height: 83vh;
  color: #16344E;
  padding: 10px;  
}

.search-api {
  border: 0px white solid;
}

footer {
  flex: 0 1;
  background-color: rgba(122, 141, 143, 0.8);
  padding-top: 5px;
  padding-left: 20px;
  min-height: 10vh;
  font-size: calc(8px + 1vmin);
  font-weight: bold;
  color: #DEF2F1;
}
