.App {
  display: grid;
  /* flex-flow: column; */  
  align-items: stretch;
  background: url('Images/wallst.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

a:link {
  color: #46344E;
}
a:visited {
  color: #46344E;
}
a:hover {
  color: #FAED26;
}
a:active {
  color: #9B786F;
}

.trans-bg {
  background-color: rgba(0, 0, 0, 0.6);
}

.form-container {
  width: 50vw;
}

.home {
  margin: 0 auto;
  flex: 1;
  overflow:auto;
  background-color: rgba(70, 52, 78, 0.6);
  height: 81vh;
  color: #faed26;
}

footer {
  flex: 0 1;
  background-color: rgba(155, 120, 111, 0.2);
  text-align: center;
  min-height: 10vh;
  font-size: calc(8px + 1vmin);
  font-weight: bold;
  color: #feffff;
}
